@font-face {
  font-family: 'Hoefler';
  src: url('../fonts/ufonts.com_hoefler-text.ttf');
}
* {
  font-family: 'Cardo', serif;
}

body {
  padding: 1em 5em 1em 4em;
}

h1, h2, h3, h4 {
  font-family: 'Hoefler', serif;
}

.header-logo {
  display: none;
}

.header-icons {
  display: none;
}

nav {
  height: 8em;
  width: 100%;
  margin-top: -1em;
  /*padding-top: 1em;*/
  /*position: fixed;*/
  background-color: white;
}

nav h1 {
  position: absolute;
  padding: .25em 0 0 0;
}

nav ul {
  position: relative;
  top: 1.5em;
  left: 10.5em;
  padding: 0;
  margin: 0;
  width: auto;
}

.logo {
  display: none;
}

.header-icons {
  top: 4em;
}

.header-icons a, p {
  font-size: .75em;
}

nav hr {
  position: relative;
  top: 5em;
}

a {
  color: gray;
}

a:hover {
  color: salmon;
}

/*Main Styling*/

main h2 {
  padding: .5em;
}

main p {
  padding: 0 0 2em 0;
  text-align: justify;
}

main img {
  padding: 0 0 1em 1em;
  width: 75%;
}

.sidebar {
  float: left;
  width: 25%;
  padding: 0 0 0 0;
}

.sidebar li {
  list-style: none;
}

/*Farm and Farmers page*/

.bio h3 {
  text-align: left;
  padding: 0 0 1em 4em;
}

.bio img, .sm {
  float: left;
  width: 45%;
  padding: 0 3em 0 0;
}

.abby {
  min-height: 20em;
}

.jake {
  min-height: 26em;
}

.farm {
  min-height: 55em;
}

.farm h3 {
  text-align: left;
  padding: 0 0 1em 1em;
}

.lg {
  width: 100%;
  padding: 0 0 2em 0
}

/*Footer Styling*/

.footer-logo {
  width: 10em;
  float: left;
}

.footer-icons {
  position: relative;
  left: 16em;
  bottom: 6em;
}

.contact {
  width: 15em;
  margin-left: 13em;
}
