
body {
  /*background-color: darkslategray;*/
}

nav {
  height: 8em;
}

nav h1 {
  margin: .25em 0 0 2em;
  float: left;
}

nav ul {
  position: relative;
  float: right;
  bottom: 1.5em;
  left: 7em;
  padding: 0;
  margin: 0;
  width: auto;
}

.logo {
  display: none;
}

.header-icons {
  /*z-index: 1;*/
  top: 4em;
  right: 2em;
}

.header-icons a, p {
  font-size: .75em;
}

a {
  color: gray;
}

a:hover {
  color: salmon;
}

img {
  width: 70%;
  margin-right: 3em;
}

main h2 {
  margin: .25em;
}

main p {
  margin: 0 3em 1em 3em;
}

.sidebar {
  float: left;
  margin: 1em;
}

.sidebar li {
  list-style: none;
}

footer {
  margin: 1em;
}
