* {
  font-family: 'Open Sans', sans-serif;
}

body {
  /*background-color: lightgray;*/
  /*padding: 1em 5em 0 5em;*/
}

h1, h2, h3, h4, a {
  font-family: 'Marcellus', serif;
}

li {
  list-style: none;
}

nav {
  width: 100%;
  height: 7em;
  /*position: fixed;
  background-color: white;*/
}

hr {
  display: none;

}

.header-logo {
  position: relative;
  top: -1em;
  right: 13em;
  width: 20%;
}

.header-icons  {
  top: -.7em;
  right: 2.5em;
}

.header-icons a, .header-icons p {
  font-size: .9em;
}

.hm {
  display: none;
}

main h2 {
  padding: .5em 0;
}

main p {
  padding: 0 3em 2em 3em;
  text-align: justify;
}

ul {
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 1em;
  text-align: center;
  padding: .5em 0;
  margin-left: 8%;
  width: 25%;
  position: relative;
  top: 1em;
  right: 2em;
  line-height: 2em;
}

a {
  color: #444545;
  text-decoration: none;
}

.parallax a {
  color: white;
  text-shadow: 1px 1px black;
}

a:hover {
  color: #cf385c;
}

.parallax {
  height: 20em;
  width: 100%;
  background-attachment: fixed;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

.hr {
  background-position: 0 1em;
  background-image: url('../images/chickens1.png');
}

.ab {
  background-position: 0 2em;
  background-image: url('../images/cows1.png');
}

.pr {
  background-image: url('../images/sheep1.png')
}

.wtb {
  background-position: 0 3em;
  background-image: url('../images/geese1.png');
}

/*Farm and Farmers*/
.farm-and-farmers {
  /*padding: 0 2em;*/
}

.op {
  height: 8em;
  background-position: top left;
}

.op ul {
  width: 60%;
  padding: .1em 0 0 1em;
  top: .5em;
  left: 5.5em;
  display: table;
}

.op li {

  display: inline;
  display: table-cell;
}

.bio h3 {
  text-align: left;
  padding: 0 0 1em 6em;
}

.bio img, .sm {
  float: left;
  width: 45%;
  padding: 0 3em 1em 3em;
}

.abby {
  min-height: 20em;
}

.jake {
  min-height: 26em;
}

.farm {
  min-height: 55em;
}

.farm h3 {
  text-align: left;
  padding: 0 0 1em 3em;
}

.lg {
  width: 100%;
  padding: 0 3em 2em 3em;
}

/*Footer Styling*/

footer {
  font-size: .5em;
  padding-bottom: 2em;
}

.footer-logo, .footer-icons {
  display: none;
}
