body {
  background-color: lightgray;
}

.logo {
  position: relative;
  top: .5em;
  left: 2em;
  width: 20%;
}


.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
