@include responsive-font(5vw, 35px, 150px, 50px);

@-ms-viewport{
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2vw;
}

body {
  /*background-color: darkslategray;*/
}

nav {
  text-align: center;
}

nav > h1 {
  position: relative;
  top: .25em;
}

hr {
  width: 100%;
}

/*modular scale: 1.25*/

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

a, h4 {
  font-size: 1.25em;
}

.logo {
  position: relative;
  float: left;
  top: -1em;
}

.header-icons {
  position: relative;
  float: right;
  /*top: -2em;*/
}

.header-icons p, {
  font-size: .75em;
}

nav ul {
  text-align: center;
  width: 54%;
  margin-left: 23%;
  padding: 4em 0 1em 0;
}

nav li {
  display: inline;
  text-decoration: none;
}

main {
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  font-size: 1em;
}
