@include responsive-font(5vw, 35px, 150px, 50px);

@font-face {
  font-family: 'Hoefler';
  src: url('../fonts/ufonts.com_hoefler-text.ttf');
}

@-ms-viewport{
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  /*background-color: darkslategray;*/
}

h1, h2, h3, h4 {
  font-family: 'Hoefler', serif;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

.logo {
  float: left;
}

nav ul {
  padding-top: 4em;
}

nav li {
  display: inline;
}

nav a, h3 {
  font-size: 1.953em;
}

.header-icons {
  position: relative;
  float: right;
}

.header-icons p {
  font-size: .75em;
}

.sidebar a, h4 {
  font-size: 1.563em;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  text-align: center;
}
